addon-view {
  display: flex;
  gap: var(--lumo-space-m);
  flex-direction: column;
  gap: var(--lumo-space-m);
  padding: var(--lumo-space-m);
  margin: 0 auto;
  max-width: 1000px;
}

.side-panel {
  display: flex;
  flex-direction: column;
  gap: var(--lumo-space-2xs);
  padding: var(--lumo-space-m);
  min-width: 300px;
  max-width: 300px;
  margin: var(--lumo-space-m);
  background-color: var(--lumo-primary-color-10pct);
  box-shadow: var(--lumo-box-shadow-s);
  border-radius: var(--lumo-border-radius-m);
}

.side-panel pre {
    overflow-x: scroll;
}

.highlight-links {
    padding-right: var(--lumo-space-m);
    flex-direction: column;
    gap: var(--lumo-space-2xs);
}
.highlight-links ul li {
    list-style-type: none;
}

/* Styles for the carousel */
.highlight-carousel {
    box-sizing: border-box;
    position: relative;
    max-width: 700px;
}

.highlight-carousel .keen-slider__slide {
  height: 200px;
  cursor: pointer;
}
.highlight-carousel .keen-slider__slide img {
    width: 95%;
    height: 95%;
    object-fit: contain;
    margin: var(--lumo-space-s);
}

.highlight-carousel .keen-slider__slide.active {
  box-shadow: inset 0 0 0 1px var(--lumo-primary-color-50pct);
}

