search-view {
  display: flex;
  flex-direction: column;
  gap: var(--lumo-space-m);
  padding: var(--lumo-space-m);
  max-width: 1000px;
  max-width: 0.9wv;
  margin: 0 auto;
}

search-view .addons-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  gap: var(--lumo-space-l);
}

search-view .featured-list {
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  max-height: 400px;
  overflow: hidden;
  border: 1 px solid black;
}

search-view addon-card {
  overflow: hidden;
}

search-view addon-card:hover {
  box-shadow: var(--lumo-box-shadow-xs);
}

search-view .featured-list addon-card {
  box-shadow: var(--lumo-box-shadow-xs);
}
/* Build information */
#build-info,
#build-info a {
  font-size: var(--lumo-font-size-xs);
  color: var(--lumo-shade-50pct);
}