@import url('./search-view.css');
@import url('./addon-view.css');

* {
  box-sizing: border-box;
}

pre {
  padding: var(--lumo-space-m);
}

img.avatar {
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  vertical-align: middle;
}

.discussions {
    max-width: 1000px;
    margin: auto;
    display: none;
}

.discussions #disqus_thread {
    max-width: 700px;
    margin-left: 0;
    margin-right: auto;
}

.discussions.active {
    display: block;
}
