addon-view {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-md) var(--space-md);
  max-width: var(--layout-max-width);
  padding: var(--space-md) var(--layout-padding);
  margin: 0 auto;
  box-sizing: border-box;
}

addon-view .main,
addon-view .versions {
  flex: auto;
  max-width: 100%;
}

addon-view .main {
  width: 40rem;
}

addon-view .versions {
  width: 20rem;
}

addon-view .back-to-search {
  font-weight: var(--text-weight-semibold);
  width: 100%;
}

addon-view addon-icon {
  width: 5rem;
  height: 5rem;
  float: left;
  float: inline-start;
  margin-inline-end: 1.5rem;
}

addon-view .addon-summary {
  font-size: var(--text-size-xl);
  line-height: 1.4em;
  color: var(--secondary-text-color);
  margin: 0.4em 0 2em;
}

addon-view .addon-name {
  margin: 0;
}

addon-view .meta {
  clear: both;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-base);
  margin: var(--space-lg) 0;
  font-size: var(--text-size-sm);
  font-weight: var(--text-weight-semibold);
  color: var(--body-text-color);
  justify-content: flex-start;
}

addon-view .meta > section {
}

addon-view .meta h3 {
  font-size: var(--text-size-xs);
  font-weight: var(--text-weight-semibold);
  color: var(--secondary-text-color);
  margin: 0 0 0.5em;
  text-transform: uppercase;
  font-family: var(--font-body);
  letter-spacing: 0.03em;
}

addon-view .meta button {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-align: start;
}

addon-view .meta button:hover {
  color: var(--blue-500);
}

addon-view .meta rating-stars {
  font-size: var(--text-size-sm);
  color: inherit;
}

addon-view .meta p {
  margin: 0;
}

addon-view .meta .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75em;
}

addon-view .meta .links a {
  font-weight: inherit;
}

addon-view .meta .links a.edit {
    font-weight: var(--text-weight-semibold);
    color: #fff;
    background-color: var(--blue-500);
    border-radius: var(--roundness-md);
    padding: 0.5em 0.75em;
}

addon-view vaadin-avatar,
addon-view vaadin-avatar-group::part(avatar) {
  --vaadin-avatar-size: 24px;
  --vaadin-avatar-group-overlap: 5px;
  background-color: var(--gray-200);
  color: inherit;
  vertical-align: middle;
  font-size: var(--text-size-lg);
  cursor: pointer;
}

addon-view .highlights.open  {
    height: 100%;
    width: 100%;
    margin: 0;
}

addon-view .highlights #slider {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  border: 1px solid var(--divider-color1);
  border-radius: var(--roundness-lg);
  margin: var(--space-md) 0;
  gap: 1px;
  background-color: var(--divider-color1);
  overflow: hidden;
}

addon-view .highlights.empty {
  display: none;
}

addon-view .highlights.open #slider {
  display: flex;
  position: fixed;
  z-index: 11;
  inset: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  background-color: var(--surface-color);
}

addon-view .highlights .item {
  padding: var(--space-sm);
  position: relative;
  height: 10rem;
  box-sizing: border-box;
  background-color: var(--background-color);
}

addon-view .highlights .item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

addon-view .highlights:not(.open) .btn-close,
addon-view .highlights.open .btn-open {
  display: none;
}

addon-view .highlights.open .arrow {
  z-index: 11;
}

addon-view .highlights:not(.open) .arrow {
  display: none;
}

addon-view .highlights .arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  fill: #fff;
  cursor: pointer;
}

addon-view .highlights .arrow.disabled {
  display: none;
}

addon-view .highlights #arrow-left {
  left: 5px;
  fill: "#fff";
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z' %3E%3C/path%3E%3C/svg%3E");
}

addon-view .highlights #arrow-right {
  left: auto;
  right: 5px;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 24 24' %3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'%3E%3C/path%3E%3C/svg%3E");
}

addon-view .highlights .btn-open {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: transparent;
  background: transparent;
  border: none;
  margin: 0;
  cursor: pointer;
}

addon-view .highlights.open .item {
    height: 100%;
    width: 100%;
}
addon-view .highlights .btn-close {
  position: fixed;
  z-index: 1;
  top: 1em;
  right: 1em;
  font: inherit;
  font-weight: var(--text-weight-semibold);
  background-color: var(--blue-500);
  color: #fff;
  border-radius: var(--roundness-md);
  padding: 0.25em 0.5em;
  border: 0;
  cursor: pointer;
}

addon-view section.discussion {
  margin-top: 3rem;
  padding: 2rem 0;
  border-top: 1px solid var(--heading-text-color);
}

addon-view section.discussion.hidden {
  display: none;
}

addon-view section.discussion p b {
  color: var(--heading-text-color);
}

addon-view section.discussion iframe {
  color-scheme: normal;
  border: 0;
  margin: 0 -8px;
  width: calc(100% + 16px);
  max-width: none;
}


addon-view .footer {
  margin: var(--space-lg) 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

addon-view .footer .tag {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  font: inherit;
  cursor: pointer;
  text-align: start;
  border: 1px solid var(--divider-color1);
  padding: 0 0.3em;
  margin: 0 0 0.3em;
  border-radius: var(--roundness-md);
  font-size: var(--text-size-sm);
}

addon-view .footer .updated {
  margin: 0;
  margin-inline-start: auto;
  font-size: var(--text-size-sm);
}

/* Add-on authors should not use H1 or H2 in the description */
addon-view .highlights ~ h1 {
  font-size: var(--text-size-3xl);
}

addon-view .highlights ~ h2 {
  font-size: var(--text-size-2xl);
}

addon-view .highlights ~ h3 {
  font-size: var(--text-size-xl);
}

addon-view .highlights ~ h4 {
  font-size: var(--text-size-lg);
}

addon-view .highlights ~ h5 {
  font-size: var(--text-size-md);
}

addon-view .highlights ~ h6 {
  font-size: var(--text-size-sm);
}

addon-view .highlights ~ :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 2em;
  margin-bottom: 1rem;
}

addon-view .versions {
  background-color: var(--secondary-surface-color);
  padding: var(--space-md);
  border-radius: var(--roundness-lg);
  font-size: var(--text-size-sm);
  align-self: flex-start;
}

addon-view .versions header {
  display: flex;
  align-items: baseline;
  gap: 0.1em;
}

addon-view .versions header:first-child {
  font-size: var(--text-size-xl);
  font-weight: var(--text-weight-semibold);
  line-height: var(--text-leading-sm);
  color: var(--heading-text-color);
}

addon-view .versions header:first-child h3 {
  font-size: inherit;
  margin: 0;
}

addon-view .versions h4 {
  font-size: var(--text-size-lg);
  margin-top: var(--text-margin-lg);
}

addon-view .versions vaadin-select::part(input-field),
addon-view .versions vaadin-select vaadin-select-value-button {
  display: flex;
  width: min-content;
  --vaadin-field-default-width: auto;
  --vaadin-input-field-background: none;
}

addon-view .versions vaadin-select vaadin-select-item {
    font-weight: var(--text-weight-semibold);
}

addon-view .versions vaadin-select vaadin-select-item:after {
  content: "";
  padding: 0 0.3em;
}

[theme~="version-select"] vaadin-item {
  font-weight: var(--text-weight-semibold);
}

[theme~="version-select"] .maturity {
  text-transform: capitalize;
  font-size: var(--text-size-xs);
  background-color: var(--gray-200);
  color: var(--gray-500);
  padding: 0.2em 0.4em;
  border-radius: var(--roundness-md);
  vertical-align: 2px;
}

[theme~="version-select"] .maturity.stable {
  background-color: var(--green-500);
  color: #fff;
}

[theme~="version-select"] .release-date {
  display: block;
  font-size: var(--text-size-xs);
  font-weight: var(--text-weight-regular);
  color: var(--secondary-text-color);
}

/* Aligning vaadin-menu-bar items to the right is terribly difficult, when you want to avoid the items collapsing */
addon-view install-tabsheet {
  display: flex;
  gap: 0.5em;
  margin-inline-start: auto;
  font-size: var(--text-size-md);
}

[theme~="addon-version-menu"] vaadin-menu-bar-button {
  -webkit-appearance: none;
  appearance: none;
  min-width: fit-content;
  margin: 0;
  padding: 0.5em 0.75em;
  display: block;
  background-color: rgb(26 129 250);
  color: #fff;
  font-weight: var(--text-weight-semibold);
  font-size: var(--text-size-sm);
  cursor: pointer;
}

[theme~="addon-version-menu"] vaadin-menu-bar-button:hover {
    background-color: rgb(0 88 192);
}

vaadin-menu-bar-list-box[theme~="addon-version-menu"] > p,
vaadin-menu-bar-list-box[theme~="addon-version-menu"] > a,
vaadin-menu-bar-list-box[theme~="addon-version-menu"] > div {
  display: block;
  font-weight: var(--text-weight-semibold);
  font-size: var(--text-size-sm);
  cursor: pointer;
  background-color: inherit;
  color: inherit;
  margin: 0.3em;
  padding: 0.2em 0.4em;
}

vaadin-menu-bar-list-box[theme~="addon-version-menu"] > p:hover,
vaadin-menu-bar-list-box[theme~="addon-version-menu"] > a:hover {
  background-color: var(--blue-100);
  color: var(--blue-500);
  text-decoration: none;
}

vaadin-menu-bar-list-box[theme~="addon-version-menu"] span {
    font-size: 0.8em;
    color: var(--secondary-text-color);
    font-weight: var(--text-weight-regular);
}

vaadin-menu-bar-list-box[theme~="addon-version-menu"] > div > a {
    display: block;
    color: var(--primary-text-color);
}

[theme~="addon-version-menu"] hr {
  margin: var(--space-sm);
}

[theme~="addon-version-menu"] i {
  font-variant: all-small-caps;
  font-style: normal;
  font-size: var(--text-size-m);
  margin-top: var(--space-sm);
}

addon-view .release-notes :is(h1, h2, h3, h4, h5, h6) {
  font-size: var(--text-size-md);
}

addon-view .versions dl {
  display: grid;
  grid-template-columns: min-content auto;
}

addon-view .versions dt {
  color: var(--secondary-text-color);
}

addon-view .versions dd {
  grid-column-start: 2;
  grid-column-end: 3;
}

addon-view .versions dd + dd + dt,
addon-view .versions dd + dd + dt + dd {
  margin-top: var(--space-sm);
}

addon-view .main pre {
  font-size: var(--text-size-sm);
}

.compatibility-matrix {
  display: flex;
  max-width: 100%;
  overflow-x: auto;
}

.compatibility-matrix .matrix {
  width: 100%;
}

.compatibility-matrix .not-supported-fw,
.compatibility-matrix .collapsed {
  display: none;
}

table.matrix th,
table.matrix td {
  margin: var(--lumo-space-m);
  text-align: center;
  vertical-align: top;
  float: none; /* HaaS FIX */
}

table.matrix td.on {
  background-color: var(--green-500);
  color: #fff;
  border-radius: var(--roundness-sm);
}

table.matrix th {
  background-color: var(--surface-color);
}

table.matrix th.rowh {
  white-space: nowrap;
  position: sticky;
  left: 0;
  z-index: 2;
}

body.addon article.discussion iframe {
  width: 100%;
  border: 0;
}

body.addon article.discussion {
  display: block;
}