addon-view {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-md) var(--space-md);
  max-width: var(--layout-max-width);
  padding: var(--space-md) var(--layout-padding);
  margin: 0 auto;
  box-sizing: border-box;
}

addon-view .main,
addon-view .versions {
  flex: auto;
  max-width: 100%;
}

addon-view .main {
  width: 40rem;
}

addon-view .versions {
  width: 20rem;
}

addon-view .back-to-search {
  font-weight: var(--text-weight-semibold);
  width: 100%;
}

addon-view addon-icon {
  width: 5rem;
  height: 5rem;
  float: left;
  float: inline-start;
  margin-inline-end: 1.5rem;
}

addon-view .addon-summary {
  font-size: var(--text-size-xl);
  line-height: 1.4em;
  color: var(--secondary-text-color);
  margin: 0.4em 0 2em;
}

addon-view .addon-name {
  margin: 0;
}

addon-view .meta {
  clear: both;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-md);
  margin: var(--space-lg) 0;
  font-size: var(--text-size-sm);
  font-weight: var(--text-weight-semibold);
  color: var(--body-text-color);
  justify-content: flex-start;
}

addon-view .meta > section {
  min-width: 6rem;
}

addon-view .meta h3 {
  font-size: var(--text-size-xs);
  font-weight: var(--text-weight-semibold);
  color: var(--secondary-text-color);
  margin: 0 0 0.5em;
  text-transform: uppercase;
  font-family: var(--font-body);
  letter-spacing: 0.03em;
}

addon-view .meta button {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  font: inherit;
  cursor: pointer;
  text-align: start;
}

addon-view .meta button:hover {
  color: var(--blue-500);
}

addon-view .meta rating-stars {
  font-size: var(--text-size-sm);
  color: inherit;
}

addon-view .meta p {
  margin: 0;
}

addon-view .meta .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75em;
}

addon-view .meta .links a {
  font-weight: inherit;
}

addon-view vaadin-avatar,
addon-view vaadin-avatar-group::part(avatar) {
  --vaadin-avatar-size: 24px;
  background-color: var(--gray-200);
  color: var(--body-text-color);
  vertical-align: middle;
  font-size: var(--text-size-lg);
}

addon-view .tags {
  margin: var(--space-md) 0;
}

addon-view .tags button {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  font: inherit;
  cursor: pointer;
  text-align: start;
  border: 1px solid var(--divider-color1);
  padding: 0 0.3em;
  margin: 0 0 0.3em;
  border-radius: var(--roundness-md);
  font-size: var(--text-size-sm);
}

/* Add-on authors should not use H1 or H2 in the description */
addon-view .main h1 {
  font-size: var(--text-size-2xl);
}

addon-view .main h2 {
  font-size: var(--text-size-xl);
}
