.directory-header {
  display: block;
  border-top: 1px solid var(--gray-100);
  border-bottom: 1px solid var(--gray-100);
  color: var(--secondary-text-color);
  font-size: var(--text-size-sm);
  line-height: 18px;
}

@media (max-width: 40rem) {
  .directory-header {
    font-size: var(--text-size-xs);
  }
}

.directory-header > section {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  max-width: var(--layout-max-width);
  padding: 0 var(--layout-padding);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.directory-title {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 0 0.5rem;
}

.directory-title h1 {
  font-size: var(--text-size-lg);
  margin: 0;
}

.directory-support-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-end;
  gap: 0 1rem;
  flex: auto;
}

.directory-support-nav p {
  margin: 0;
}

.directory-support-nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.directory-header a {
  font-weight: var(--text-weight-semibold);
}

.directory-header .icon svg {
  width: 18px;
  fill: currentColor;
  vertical-align: -4px;
}

.build-label {
  font-size: var(--text-size-xs);
}
