.directory-header {
  display: block;
  color: var(--secondary-text-color);
  font-size: var(--text-size-sm);
}

.directory-header > section {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
  max-width: var(--layout-max-width);
  padding: 0 var(--layout-padding);
  padding-top: 2rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.directory-title {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 0.25rem 0.5rem;
  font-size: var(--text-size-md);
  margin-inline-end: auto;
  position: relative;
}

.directory-title h1 {
  font-size: var(--text-size-3xl);
  margin: 0;
}

.directory-support-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 0 1rem;
}

.directory-support-nav p {
  margin: 0;
}

.directory-support-nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.directory-header a {
  font-weight: var(--text-weight-semibold);
}

.directory-header .icon svg {
  width: 18px;
  fill: currentColor;
  vertical-align: -4px;
}

.build-label {
  max-width: var(--layout-max-width);
  padding: 0 var(--layout-padding);
  color: var(--gray-500) !important;
  font-size: var(--text-size-xs);
}
