/* TODO it would be good to fetch these at build time so that they could be included in the bundle */
@import url('https://cdn.vaadin.com/website/antlers/v2/assets/css/1-foundation/custom-properties.css');
@import url('https://cdn.vaadin.com/website/antlers/v2/assets/css/1-foundation/typography.css');

@import './palette-light.css';
@import './layout.css';
@import './haas.css';
@import './directory-header.css';

/* This class is defined in lineawesome.css, but keeping it here as a reminder */
/* .sr-only {} */

input[type="text"],
input[type="search"],
select {
  border: var(--input-border);
  background: var(--input-bg);
  color: var(--input-color);
  border-radius: var(--roundness-md);
  padding: 0.5em 0.75em;
  margin: 0;
  font: inherit;
  font-weight: var(--text-weight-semibold);
}
