@import url('https://cdn.vaadin.com/website/antlers/v2/assets/css/1-foundation/custom-properties.css');
@import url('https://cdn.vaadin.com/website/antlers/v2/assets/css/1-foundation/typography.css');

@import './palette-light.css';
@import './layout.css';
@import './haas.css';
@import './directory-header.css';

/* This class is defined in lineawesome.css, but keeping it here as a reminder */
/* .sr-only {} */

input[type="text"],
input[type="search"],
select {
  border: var(--input-border);
  background: var(--input-bg);
  color: var(--input-color);
  border-radius: var(--roundness-md);
  padding: 0.5em 0.75em;
  margin: 0;
  font: inherit;
  font-weight: var(--text-weight-semibold);
}

input[type="text"]:focus,
input[type="search"]:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--blue-400);
}

select {
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.845703 0.716797L0.216797 1.3457L5.68555 6.81445L6 7.11523L6.31445 6.81445L11.7832 1.3457L11.1543 0.716797L6 5.87109L0.845703 0.716797Z' fill='%23657892'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) 50%;
  -webkit-appearance: none;
  padding-inline-end: 26px;
}

input::placeholder {
  color: var(--secondary-text-color);
}

hr {
  border: 0;
  height: 1px;
  overflow: hidden;
  margin: var(--space-md) 0;
  background-color: var(--divider-color1);
}

code[class*="language-"],
pre[class*="language-"] {
  filter: contrast(1.4);
  text-shadow: none;
  color: var(--gray-200);
  background: var(--gray-700);
}

img {
  max-width: 100%;
}

#paging {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}