html {
  --background-color: var(--base-white);
  --surface-color: var(--base-white);
  --surface-shadow-m: var(--elevation-md);
  --divider-color1: var(--gray-200);
  --secondary-text-color: var(--color-secondary-text);
  --body-text-color: var(--color-base-text);
  --heading-text-color: var(--color-base-header);
  --surface-color-alt: var(--blue-50);
  --link-color: var(--blue-500);
  --input-bg: var(--gray-50);
  --input-border: 1px solid var(--divider-color1);
  --input-color: var(--color-base-text);
}
